/target/**
!/target/deploy
/target/deploy/*.so
!/target/deploy/uxd-keypair.json
!/target/deploy/ci-resident-keypair.json
!/target/deploy/ci-resident-upgrade-authority.json
!/target/deploy/bank-keypair.json
!/target/idl/
!/target/idl/uxd.json
!/target/types
!/target/types/uxd.ts
*.swp
node_modules/
test-ledger/
.anchor/
/programs/uxd/.coderrect/**
/programs/uxd/target/**
/programs/uxd/Cargo.lock
yarn-error.log
programs/uxd/src/lib.rs.bak
.gitignore
Anchor.toml.bak
mochawesome-report
.DS_Store
